.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-Body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row; /* Si prefieres usar flexbox, asegúrate de no usar column aquí */
  flex-wrap: wrap; /* Para permitir que los elementos envuelvan */
}
.card {
  background-color: aqua;
  margin: 15px;
}
.cardTittle {
  background-color: aqua;
  margin: 15px;
}
.card-title-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.App-link {
  color: #61dafb;
}

.custom-modal {
  background-color: #f8f9fa; /* Color de fondo */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 20px; /* Espaciado interno */
  color: #343a40; /* Color del texto */
}

.custom-modal-header {
  background-color: #007bff; /* Fondo del encabezado */
  color: white; /* Color del texto del encabezado */
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: -webkit-center;
}

.custom-modal-body {
  padding: 20px;
  background-color: #f8f9fa;
}

.custom-modal-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.container-custom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Puedes usar 'space-between' o 'space-around' */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
